.BotonesCliente{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Botones{
    padding: 30px;
    width: 280px;
    margin: 8px;
    border-radius: 20px;
    background-color: rgb(130, 21, 21);
    font-family: "Reem Kufi", sans-serif;
    font-size: 20px;
    color: white;

}