.Head {
  background-color: rgba(6, 6, 6, 0.814);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.contenedorHead{
  display: flex;
  align-items: center;
  width:95%;
  height: 100px;
  margin: 30px;
}

.Logo {
  color: white;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 50px;
}

.Barra {
  margin-left: auto; /* Para alinear el botón al extremo derecho */
  position: relative;
  width: 40px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Barra::before, .Barra::after, .Barra div {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: white;
  transition: 0.6s;
}

.Barra div {
  top: 50%;
  transform: translateY(-50%);
}

.Barra::before {
  top: 0;
}

.Barra::after {
  bottom: 0;
}
