.contVideo {
  position: relative;
  width: 157px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.Bplay {
  border: none;
  background-color: transparent;
}

.imagen {
  position: absolute;
  top: 0px;
  left: -30px;
}

.Bplay {
  position: absolute;
  top: 80px;
  left: 115px;
}

.nombreV {
  position: absolute;
  top: 90px;
  left: 10px;
}

.contDetalle {
  position: absolute;
  top: 110px;
  left: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}
