.titulogato {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    text-align: left; 
    margin-top: -190px;
    margin-left: 15px;
    font-family: "Alumni Sans", sans-serif;
  }
  
  .subtitlegato {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left; 
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;

  }
  .imagegato {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
  }
  .textgato{
    font-size: 16px;
    line-height: 1.5;
    color:#fff;
    text-align: left; 
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: "Alumni Sans", sans-serif;

    }