.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-align: left; 
    margin-top: 2px;
    margin-left: 20px;
  }
  
  .image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
  }