.container {
    position: absolute;
    width: 375px;
    height: 958px;
    background-color: rgba(28, 28, 30, 1);
    top: 0px;
    left: 0px;
  }
  .cabecera {
    position: absolute;
    top: 45px;
    left: -1px;
    width: 375px;
    height: 75px;
  }
  .portada {
    position: absolute;
    width: 376px;
    height: 359px;
    top: 120px;
  }
  .titulo {
    position: absolute;
    top: 240px;
    left: 7px;
  }
  .opciones {
    position: absolute;
    width: 375px;
    height: 58px;
    top: 260px;
    left: 0px;
  }
  .tipo {
    position: absolute;
    width: 384px;
    height: 191px;
    top: 580px;
    display: flex;
    flex-direction: column;
  }
  .contButton{
      position: absolute;
      top: 837px;
      left: 138px;
  }
  