.ContenedorPantallaCliente{
    width:360px ;
    height: 650px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    background-color: rgb(21, 21, 21);
}

.ContenedorImagen{
    position: relative;
    display: inline-block;
}
.ContenedorImagen img {
    width: 360px;
    height: 325px;
}
.PerfilCliente {
    position: absolute;
    top: 10px; /* Ajusta este valor según sea necesario */
    left: 10px; /* Ajusta este valor según sea necesario */
    z-index: 10; /* Asegura que el perfil esté sobre la imagen */
}