.contenedorDetallesRecuperacion{
    width: 154px;
    height: 17px;
    display: flex; 
    margin-top: 5px;
    margin-left: 8px;

}
.contenedorTiempoRecuperacion{
    width: 67px;
    height: 13px;
    display: flex; 
    align-items: center; 
    gap: 4px; 
}
.contenedorTiempoRecuperacion img{
    width: 10px;
    height: 10px;
}
.contenedorTiempoRecuperacion p{
    font-size: 10px;
    color: #fff;
}
.contenedorCaloriasRecuperacion{
    width: 43px;
    height: 13px;
    display: flex; 
    align-items: center; 
    gap: 4px;
    

}
.contenedorCaloriasRecuperacion img{
    width: 10px;
    height: 10px;
}
.contenedorCaloriasRecuperacion p{
    font-size: 10px;
    color: #fff;
}