.PerfilCliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.511);
  height: 310px;
  width: 300px;
  border-radius: 80px;
  margin-left: 5%;
}
  
  .contenedorUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 400px;
  }
  
  .Bienvenido {
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 35px;
    margin-top: 5px; 
  }
  
  .contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .contenedorImagen img {
    max-width: 100%;
    height: auto;
  }
  
  .ContenedorNombre {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    height: 45px;
    width: 140px;
  }
  
  .nombre {
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
  }
  
  .calendario {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.567);
    align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 40px;
  }
  
  .calendario img {
    max-width: 80%;
    max-height: 80%;
  }
  
  .calendario:hover {
    background-color: transparent;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}