.BarraNavegacionPerfil {
    /* background-color: cadetblue; */
    width: 159px;
    height: 84px;
    margin: 40px 10px 0px 10px;
}

.BarraDeNavegacionContenido {
    display: flex;
    align-items: center;
}

.BarraDeNavegacionFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    flex-direction: column;    
}

.BarraDeNavegacionFoto img {
    border-radius: 50%;
    width: 58px;
    height: 56px;
    margin: 0px;
}

.BarraNavegacionPerfil p {
    font-size: 25px;
    margin: 0 0 0 24px;
}

.BarraNavegacionPerfil hr {
    width: 159px;
    margin-top: 15px; 
}.BarraDeNavegacionFoto button{
    background-color: transparent;
    font-size: 15px;
    width: 50px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
