.BarraNavegacionPerfil {
    /* background-color: cadetblue; */
    width: 159px;
    height: 84px;
    margin: 40px 10px 0px 10px;
}

.BarraDeNavegacionContenido {
    display: flex;
    align-items: center;
}

.BarraDeNavegacionFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.BarraDeNavegacionFoto img {
    border-radius: 50%;
    width: 58px;
    height: 56px;
    margin: 5px;
}

.BarraNavegacionPerfil p {
    font-size: 25px;
    margin: 0 0 0 24px;
}

.BarraNavegacionPerfil hr {
    width: 159px;
    margin-top: 15px; 
}
