.ContenedorB {
    width: 327px;
    height: 48px;
    margin-top: 90px;

}
 .IniciarTime{
    font-size: 20px;
    width: 327px;
    height: 48px;
    background-color: #C04551;
    border-radius: 80px;

 }