.ContenedorTexto {
    width: 301px;
    height: 61px;
    text-align: center;
    margin-top: 30px;
}
.ContenedorTexto h1 {
    font-size: 25px;
    color: #2465E1;
}
.ContenedorTexto p{
    font-size: 20px;
    color: #FFFFFF;
}