.contenedorT{
    width: 375px;
    height: 812px;
    background-color: #1C1C1E;
    
}

.contenedorMinitarjeta{
    width: 375px;
    height: 394px;
    
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 20px;

}