.contenedorEstiramiento{
    width: 230px;
    height: 25px;
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-top: 15px;
    margin-left: 31px;

}
.contenedorEstiramiento img{
    width: 6px;
    height: 11px;

}
.contenedorEstiramiento h1{
    font-size: 17px;
    color:#fff;
    font-family: "Alumni Sans", sans-serif;
    font-weight: bold;
    font-size: 96px;

}
.rotate-up {
    transform: rotate(0deg);
}

.rotate-down {
    transform: rotate(270deg);
}