body{
  background-color: black;
  font-family: 'Alumni Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("./Componentes/img/Im agenFondo.png") no-repeat center center; 
  background-size: 376px 455px;  */
}