.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url("./componentes/img/ImagenFondo.png") no-repeat center center;
    background-size: 375px 455px;
    background-position: 0px 75px; */ 
}
