.circuitos {
  max-width: 800px;
  
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(28, 28, 30, 1);
  font-family: 'Poppins', sans-serif;
}


  .circuitos img {
    width: 170px;
   height: 160px;
   display: block;
   float: left;
   margin-right: 10px;
   font-family: 'Poppins', sans-serif;
  }
  
  .circuitos h2 {
    font-size: 37px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .circuitos p {
    font-size: 15px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
  }
  
  .espacios-libres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
  }
  
  .espacio-libre {
    max-width: 800px;
    margin-bottom: 20px;
    padding: 15px;
    
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(51, 54, 63, 0.94);
    
  }
  
  .espacio-libre h3 {
    font-size: 15px;
    text-align: right;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(182, 70, 86, 1);
  }
  
  .espacio-libre p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .btn-ver {
    background-color:rgba(182, 70, 86, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-ver:hover {
    background-color: rgba(182, 70, 86, 1);
  }
    