.BotonesNutricionista {
    height: 300px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.Botones3 {
    padding: 20px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    background-color: #161515; /* Color rojo oscuro */
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    color: white;
    border: 2px dashed #ffcccb; /* Borde punteado color claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para los botones */
    transition: all 0.3s ease; /* Transición suave */
    text-align: center;
    cursor: pointer;
}

.Botones3:hover {
    background-color: #a81d1d; /* Color más claro al pasar el ratón */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transform: translateY(-2px); /* Mueve el botón hacia arriba */
}
